<?xml version="1.0" ?>
<settings version="1">
    <section id="script.plex">

        <!-- General -->
        <category id="general" label="32000">
            <group id="1" label="">
                <!-- <setting id="transcode_format" label="32023" type="labelenum" values="mkv|hls" default="mkv" /> -->

                <!-- <setting id="playback_directplay_force" type="boolean" label="32027" enable="eq(-1,true)" subsetting="true" /> -->
                <setting id="debug" type="boolean" label="32024">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="player" label="32464">
            <group id="2" label="">
                <setting id="auto_seek" type="boolean" label="32466">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="auto_seek_delay" parent="auto_seek" type="number" label="32487">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>0.1</step>
                        <maximum>5</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable" setting="auto_seek">true</dependency>
                    </dependencies>
                </setting>
                <setting id="kodi_skip_stepping" type="boolean" label="32465">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="dynamic_timeline_seek" type="boolean" label="32471">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="forced_subtitles_override" type="boolean" label="32493">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="postplay_timeout" type="integer" label="32501">
                    <level>0</level>
                    <default>16</default>
                    <control type="edit" format="integer">
                        <heading>32501</heading>
                    </control>
                </setting>
                <setting id="skip_intro_button_timeout" type="integer" label="32521" help="">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>40</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>32524</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="skip_credits_button_timeout" type="integer" label="32525" help="">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>40</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>32528</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="show_media_ends_info" type="boolean" label="32540" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="user_interface" label="32467">
            <group id="4" label="">
                <setting id="fast_back" type="boolean" label="32485">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="postplay_always" type="boolean" label="32500">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="dynamic_backgrounds" type="boolean" label="32468">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="background_colour" type="string" label="33200" help="33201">
                  <level>0</level>
                  <default>-</default> <!-- Black -->
	              <control type="colorbutton" />
                  <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">false</dependency>
                  </dependencies>
                </setting>
                <setting id="background_art_blur_amount" type="integer" label="32469">
                    <level>0</level>
                    <default>4</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>256</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                    </dependencies>
                </setting>
                <setting id="background_art_opacity_amount" type="integer" label="32470">
                    <level>0</level>
                    <default>30</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>100</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                    </dependencies>
                </setting>
                <setting id="playlist_visit_media" type="boolean" label="32505">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="screensaver" label="32488">
            <group id="5" label="">
                <setting id="screensaver_quiz" type="boolean" label="32489">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
